/* DMSans-Bold-700 */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
}

/* DMSans-Medium-500 */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
    url('../fonts/DMSans-Medium.woff') format('woff');
}

/* DMSans-Regular-400 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
}

/* TitanOne-regular */
@font-face {
  font-family: 'TitanOne';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../fonts/TitanOne.woff2') format('woff2'), url('../fonts/TitanOne.woff') format('woff');
}
