@mixin transition1($firstProperty) {
  transition-property: $firstProperty;
  transition-duration: 250ms;
  transition-timing-function: $time-function;
}

@mixin transition2($firstProperty, $secondProperty) {
  transition-property: $firstProperty, $secondProperty;
  transition-duration: 250ms;
  transition-timing-function: $time-function;
}

@mixin transition3($firstProperty, $secondProperty, $thirdProperty) {
  transition-property: $firstProperty, $secondProperty, $thirdProperty;
  transition-duration: 250ms;
  transition-timing-function: $time-function;
}
