<section class="advantages">
    <h2 class="visualy-hidden">Advantages</h2>
    <div class="container">
        <ul class="advantages__list">
            <li class="advantages__item advantages__item--cow">
                <span class="advantages__data">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--apple">
                <span class="advantages__data">16kg</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item advantages__item--heart">
                <span class="advantages__data">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>