<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="section">
        <div class="container">
                <h1 hidden>Contacts</h1>
            <div class="contacts">
                <h2 class="contacts__title">Cafe</h2>
                <div>
                    <ul>
                        <li>
                            <h3 class="contacts__town">Chicago</h3>
                            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>   
                </div>
                <div>
                    <ul class="schedule">
                        <li>
                            <h3 class="schedule__title">Monday - Friday</h3>
                            <p class="schedule__text">06:00 AM - 10:00 PM</p>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h3 class="schedule__title">Saturday - Sunday</h3>
                            <p class="schedule__text">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="address">
                        <li>
                            <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li>
                            <a class="address__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


            <!-- <h3>Los Angeles</h3>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul>
                <li>
                    <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li>
                    <a class="" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </li>
            </ul>
        </div> -->
        <!-- <div>
            <h3>New York</h3>
            <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul>
                <li>
                    <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li>
                    <a class="" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </li>
            </ul>
        </div>
  
   
        <ul>
            <li class="filter__buttons">
                <button type="button" class="filter__button">Our Locations</button>
            </li>
            <li class="filter__buttons">
                <button type="button" class="filter__button">Franchise</button>
            </li>
        </ul> -->

