<section class="section container-bcg" id="contacts">
    <div class="container">
        <div class="container__box">
            <h2 hidden>Contacts</h2>
            <div class="contacts-box">
                <div class="contacts">
                    <div class="contacts__title">
                        <span class="contacts__title--text">Cafe</span>
                    </div>
                    <div class="contacts-item">
                        <h3 class="contacts__location">Chicago</h3>
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="schedule">
                        <ul class="schedule__box">
                            <li class="schedule__title">Monday - Friday</li>
                            <li class="schedule__text">06:00 AM - 10:00 PM</li>
                        </ul>
                        <ul>
                            <li class="schedule__title">Saturday - Sunday</li>
                            <li class="schedule__text">08:00 AM - 16:00 PM</li>
                        </ul>
                    </div>
                    <div class="contacts-item">
                        <ul class="address">
                            <li>
                                <a class="address__mail address--aiming" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                            <li>
                                <a class="address__tel address--aiming" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contacts-box">
                <div class="contacts">
                    <div class="contacts__title--item">
                        <span class="contacts__title--text">FOODTRUCK</span>
                    </div>
                    <div class="contacts-item">
                        <h3 class="contacts__location">Los Angeles</h3>
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="schedule">
                        <ul class="schedule__box">
                            <li class="schedule__title">Monday - Friday</li>
                            <li class="schedule__text">06:00 AM - 10:00 PM</li>
                        </ul>
                        <ul>
                            <li class="schedule__title">Saturday - Sunday</li>
                            <li class="schedule__text">08:00 AM - 16:00 PM</li>
                        </ul>
                    </div>
                    <div class="contacts-item">
                        <ul class="address">
                            <li>
                                <a class="address__mail address--aiming" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                            <li>
                                <a class="address__tel address--aiming" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contacts-box">
                <div class="contacts">
                    <div class="contacts__title">
                        <span class="contacts__title--text">Cafe</span>
                    </div>
                    <div class="contacts-item">
                        <h3 class="contacts__location">New York</h3>
                        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </div>
                    <div class="schedule">
                        <ul class="schedule__box">
                            <li class="schedule__title">Monday - Friday</li>
                            <li class="schedule__text">06:00 AM - 10:00 PM</li>
                        </ul>
                        <ul>
                            <li class="schedule__title">Saturday - Sunday</li>
                            <li class="schedule__text">08:00 AM - 16:00 PM</li>
                        </ul>
                    </div>
                    <div class="contacts-item">
                        <ul class="address">
                            <li>
                                <a class="address__mail address--aiming" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                            <li>
                                <a class="address__tel address--aiming" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact__buttons">
            <a class="contact__buttons--item contact__buttons--first contact__buttons--distance" href="https://goo.gl/maps/ka7BPt1R56QFhWXe8" target="_blank">Our Locations
                <svg class="first__icon--arrow">
                    <use href="./images/sprite/sprite.svg#icon-arrow"></use>
                </svg>
            </a>
            <button type="button" class="contact__buttons--item contact__buttons--second contact__buttons--distance" contact-modal-open>Franchise
                <svg class="second__icon--arrow">  
                    <use href="./images/sprite/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section> 


