<section class="container">
  <div class="reviews">
    <div class="review">
      <img src="./images/reviews/emily/emily.png" class="review__img" alt="" />
      <div class="review__text">
        <p class="review__text-area">
          It's great to feel something new. New taste like a burst of peppermint candy. It's good
          that you are. Thanks a lot. Keep it up!!!
        </p>
      </div>
      <span class="review__dots"><i></i></span>
      <p class="review__details">Emily, Los Angeles</p>
    </div>
    <div class="reviews__nav">
      <span class="reviews__nav-item reviews__nav-item_active">
        <svg>
          <use href="./images/sprite/sprite.svg#icon-home"></use>
        </svg>
      </span>
      <span class="reviews__nav-item">
        <svg>
          <use href="./images/sprite/sprite.svg#icon-home"></use>
        </svg>
      </span>
      <span class="reviews__nav-item">
        <svg>
          <use href="./images/sprite/sprite.svg#icon-home"></use>
        </svg>
      </span>
    </div>
  </div>
  <!-- </div> -->
</section>
