<footer class="footer">
  <div class="footer__container container">
    <div class="footer__first">
      <p class="footer__subtitle">homemade icecream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <div class="footer__second">
      <ul class="footer-socials footer__socials">
        <li class="footer-socials__item">
          <a href="#">
            <svg>
              <use href="./images/sprite/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#">
            <svg>
              <use href="./images/sprite/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a href="#">
            <svg>
              <use href="./images/sprite/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__tel">
        Feel free to contact
        <a href="tel:61(0)383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
</footer>
<div class="copyright">
  <p class="copyright__item">&#169; 2019 - IceCream.</p>
  <p class="copyright__item">All Rights Reserved.</p>
</div>
