<section class="gallery-box">
    <div class="container">
    <h2 hidden>Gallery</h2>
        <div class="ice-box">
            <picture class="block-1 ice-box--border">
                <source class="var" srcset="./images/gallery/ice-gallery/icecream-1@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-1@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-1@1x.jpg" alt="Ice cream 1">
            </picture>
            <picture class="block-2 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-2@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-2@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-2@1x.jpg" alt="Ice cream 2">
            </picture>
            <picture class="block-3 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-3@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-3@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-3@1x.jpg" alt="Ice cream 3">
            </picture>
            <picture class="block-4 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-4@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-4@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-4@1x.jpg" alt="Ice cream 4">
            </picture>
            <picture class="block-5 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-5@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-5@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-5@1x.jpg" alt="Ice cream 5">
            </picture>
            <picture class="block-6 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-6@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-6@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-6@1x.jpg" alt="Ice cream 6">
            </picture>
            <picture class="block-7 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-7@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-7@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-7@1x.jpg" alt="Ice cream 7">
            </picture>
            <picture class="block-8 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-8@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-8@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-8@1x.jpg" alt="Ice cream 8">
            </picture>
            <picture class="block-9 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-9@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-9@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-9@1x.jpg" alt="Ice cream 9">
            </picture>
            <picture class="block-10 ice-box--border">
                <source srcset="./images/gallery/ice-gallery/icecream-10@3x.jpg" media="(min-width: 1280px)">
                <source srcset="./images/gallery/ice-gallery/icecream-10@2x.jpg" media="(min-width: 768px)"> <img
                    src="./images/gallery/ice-gallery/icecream-10@1x.jpg" alt="Ice cream 10">
            </picture>
        </div>
    </div>
</section>



