<section class="header" id="header">
  <div class="header-container container">
    <a class="header-logo animate__animated animate__bounce" href="/">
      <img src="./images/header/desktop/header-logo-.png" alt="IceCream" />
    </a>

    <div class="header-nav-box">
      <nav class="header-navigation" data-menu>
        <ul class="header-list" id="header-list">
          <li class="header-item"><a class="header-link" href="./index.html">Home</a></li>
          <li class="header-item"><a class="header-link" href="">About us</a></li>
          <li class="header-item"><a class="header-link" href="">How it’s made?</a></li>
          <li class="header-item"><a class="header-link" href="">Our products</a></li>
          <li class="header-item"><a class="header-link" href="">Contact</a></li>
        </ul>
      </nav>

      <div class="header-menu">
        <button
          class="button-mobmenu is-open"
          type="button"
          aria-expanded="false"
          aria-controls="header-list"
          data-menu-button
        >
          <svg width="20" height="12" aria-label="переключатель мобильного меню">
            <use class="icon-menu" href="./images/sprite/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
    <button class="header-button" type="button">
      Buy now
      <svg class="header-svg" width="7" height="10">
        <use href="./images/sprite/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
