<section class="hero__section">
    

        <div class="hero__container">
            <div class="hero__round"></div>

            <picture class="hero__ice-cream">
                <source 
                    media="(max-width: 767px)"
                    srcset="./images/hero/mobile/ice-cream-hero-mobile.png 1x,
                            ./images/hero/mobile/ice-cream-hero-mobile@2x.png 2x,
                            ./images/hero/mobile/ice-cream-hero-mobile@3x.png 3x"
                    type="image/png"
                />
                <source 
                    media="(min-width: 768px) and (max-width: 1279px)"
                    srcset="./images/hero/tablet/ice-cream-hero-tablet.png 1x,
                            ./images/hero/tablet/ice-cream-hero-tablet@2x.png 2x,
                            ./images/hero/tablet/ice-cream-hero-tablet@3x.png 3x"
                    type="image/png"
                />
                <source 
                    media="(min-width: 1280px)"
                    srcset="./images/hero/desktop/ice-cream-hero-desktop.png 1x,
                            ./images/hero/desktop/ice-cream-hero-desktop@2x.png 2x,
                            ./images/hero/desktop/ice-cream-hero-desktop@3x.png 3x"
                    type="image/png"
                />
                <img src="./images/hero/mobile/ice-cream-hero-mobile.png" alt="Ice-cream">
            </picture>

             <div class="hero__header">
                <h1 class="hero__title">
                    ice cream
                    made with
                    <span class="hero__title-word">passion</span>
                </h1>
                <div class="hero__buttons">
                    <a href="#products" class="hero__button button__products">Products</a>
                    <a href="#about" class="hero__button button__how-made">How it’s made?</a>
                </div>
            </div>

            <div class="hero__quantities">
                <div class="hero__number first">
                    <div class="quantity-round"></div>
                    <div class="quantity-content">
                        <span class="quantity-number">16</span>
                        <span class="quantity-type">cafes</span>
                    </div>
                </div>
                <div class="hero__number second">
                    <div class="quantity-round"></div>
                    <div class="quantity-content">
                        <span class="quantity-number">23</span>
                        <span class="quantity-type">food trucks</span>
                    </div>
                </div>
            </div>
        
            <picture class="hero__girl">
             <source 
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="./images/hero/tablet/girl-hero-tablet.png 1x,
                       ./images/hero/tablet/girl-hero-tablet@2x.png 2x,
                       ./images/hero/tablet/girl-hero-tablet@3x.png 3x"
                type="image/png"
             />
             <source 
                media="(min-width: 1280px)"
                srcset="./images/hero/desktop/girl-hero-desktop.png 1x,
                       ./images/hero/desktop/girl-hero-desktop@2x.png 2x,
                       ./images/hero/desktop/girl-hero-desktop@3x.png 3x"
                type="image/png"
             />
               <img src="./images/hero/tablet/girl-hero-tablet.png" alt="Girl">
            </picture>

            <picture class="hero__milk">
               <source 
                media="(min-width: 768px) and (max-width: 1279px)"
                srcset="./images/hero/tablet/milk-hero-tablet.png 1x,
                       ./images/hero/tablet/milk-hero-tablet@2x.png 2x,
                       ./images/hero/tablet/milk-hero-tablet@3x.png 3x"
                type="image/png"
                />
                <source 
                    media="(min-width: 1280px)"
                    srcset="./images/hero/desktop/milk-hero-desktop.png 1x,
                        ./images/hero/desktop/milk-hero-desktop@2x.png 2x,
                        ./images/hero/desktop/milk-hero-desktop@3x.png 3x"
                    type="image/png"
                />
               <img src="./images/hero/tablet/milk-hero-tablet.png" alt="Milk">
            </picture>

            <div class="hero__content">
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button" class="hero__button-icon">
                    <svg width="8" height="8" class="hero__icon">
                        <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    
</section>
