<!-- Mobile-menu -->


<div class="mobile-menu js-menu-container" id="mobile-menu">
    <button class="close-button js-close-menu" type="button">
      <svg class="mobile-menu-close-icon" aria-label="переключатель мобильного меню">
        <use href="./images/sprite/sprite.svg#icon-close"></use>
      </svg>
    </button>
  
    <button class="mobile-menu-button" type="button">
      Buy now
      <svg class="mobile-menu-vector-icon">
        <use href="./images/sprite/sprite.svg#icon-arrow"></use>
      </svg>
    </button>
     
    
        <ul class="mobile-menu-nav">
          <li class="mobile-menu-nav-item mobile-menu-first-item">
            <a class="mobile-menu-nav-link" href="index.html">Home</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#about-us">About us</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#made">How it's made?</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#products">Our products</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
   

  </div>