<section id="products" class="products">
    <div class="container">
        <p class="products__caption">100% natural</p>
        <h2 id="title" class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item products__item--first">
                <div class="products__dropdown">
                    <h3 class="products__wrapper-title products__wrapper-title--first">ice cream</h3>
                    <span class="products__ellipsis"><i></i></span>
                    <div class="products__hover-text">
                        <p class="products__text products__text--first">
                            A unique line of cream ice cream on the world market, 
                            created according to its own recipe with high protein content
                            that naturally nourishes your muscles, helps to recover.
                        </p>
                        <button type="button" class="products__control">
                            <svg class="products__control-icon" width="16px" height="12px">
                                <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__item products__item--second">
                <div class="products__dropdown">
                    <h3 class="products__wrapper-title products__wrapper-title--second">ice coffee</h3>
                    <span class="products__ellipsis"><i></i></span>
                    <div class="products__hover-text">
                        <p class="products__text products__text--second">
                            This drink is for you! It tastes like a favorite of many summer treats -
                            coffee ice cream, but when served with ice
                            cubes turns into a wonderful refreshing drink.
                        </p>
                        <button type="button" class="products__control">
                            <svg class="products__control-icon" width="16px" height="12px">
                                <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
            <li class="products__item products__item--third">
                <div class="products__dropdown">
                    <h3 class="products__wrapper-title products__wrapper-title--third">milkshakes</h3>
                    <span class="products__ellipsis"><i></i></span>
                    <div class="products__hover-text">
                        <p class="products__text products__text--third">
                            Part dessert, part thirst-quenching beverage,
                            milkshakes are truly the perfect blank canvas
                            for exploring a variety of fun and delicious flavor combinations.
                        </p>
                        <button type="button" class="products__control">
                            <svg class="products__control-icon" width="16px" height="12px">
                                <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>