.advantages {
    background-color: $secondary-bcg-color;
    width: 1200px;
}

.advantages__list {
    @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    margin-left: 36px;
    // margin-right: 76px;
        // padding-top: 83px;
    }
}

.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-item__cow::before {
    @media screen and (max-width: 767px) {
        // width: 100%;
        // min-width: 290px;
        // max-width: 450px
        content: "";
        display: inline-block;
        width: 33px;
        height: 50px;
        background-image: url(../images/advantages/advantages-cow@3x.png);
        background-size: contain;
        margin-top: 38px;
        margin-bottom: 26px;
        background-repeat: no-repeat;
      }
      @media screen and (min-width: 768px) {
        content: "";
        display: flex;
        position: relative;
        width: 34px;
        height: 51px;
        background-image: url(../images/advantages/advantages-cow@2x.png);
        background-size: contain;
        margin-top: 38px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
      }
}
    
.advantages-item__apple::before {
    @media screen and (max-width: 767px) {
        // max-width: 480px;
        // min-width: 320px;
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        background-image: url(../images/advantages/advantages-apple@3x.png);
        background-size: contain;
        margin-top: 38px;
        margin-bottom: 26px;
        background-repeat: no-repeat;
      }
      @media screen and (min-width: 768px) {
        content: "";
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url(../images/advantages/advantages-apple@2x.png);
        background-size: contain;
        margin-top: 38px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
      }
}

.advantages-item__heart::before {
    @media screen and (max-width: 767px) {
        content: "";
        display: flex;
        position: relative;
        width: 44px;
        height: 50px;
        background-image: url(../images/advantages/advantages-heart@3x.png);
        background-size: contain;
        margin-top: 38px;
        margin-bottom: 26px;
        background-repeat: no-repeat;
      }
      @media screen and (min-width: 768px) {
        content: "";
        display: inline-block;
        width: 44px;
        height: 50px;
        background-image: url(../images/advantages/advantages-heart@2x.png);
        background-size: contain;
        margin-top: 38px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
      }
}

    //   @media screen and (min-width: 768px) {
    //     padding: 0 36px;
    //     width: 768px;
    //   }
    
    //   @media screen and (min-width: 1280px) {
    //     padding: 0 115px;
    //     width: 1280px;
    //   }

.advantages__data {
    @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 13px;

    font-family: 'TitanOne';
    font-size: 36px;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-align: left;
    color: $primary-font-color;
    }
    @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 13px;

    font-family: 'TitanOne';
    font-size: 48px;
    font-style: normal;
        line-height: 1.14;
    letter-spacing: 0.04em;
    text-align: left;
    color: $primary-font-color;
    }
}

.advantages__text {
    @media screen and (max-width: 767px) {
    display: block;
    width: 230px;
    height: auto;
    margin-right: 70px;
    font-family: DMSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1,66;
    letter-spacing: 0em;
    text-align: left;
    color: $base-color
    }
    @media screen and (max-width: 767px) {
    display: block;
    width: 230px;
    height: auto;
    margin-right: 60px;
    font-family: DMSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1,66;
    letter-spacing: 0em;
    text-align: left;
    color: $base-color
        }
}