// Контейнер
.container__box {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    // justify-content: space-between;
  }
}
// Карточки
.contacts {
  display: block;
  padding: 43px 21px;
  min-width: 220px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    padding: 50px 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
  }
}
.contacts:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 767px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 29px;
  }
}
.contacts__title {
  display: inline-block;
  margin-bottom: 25px;
  width: 80px;
  align-items: center;
  text-align: center;
  background-color: #f0d1a5;
  border-radius: 4px;
}
.contacts__title--item {
  display: inline-block;
  margin-bottom: 25px;
  width: 130px;
  align-items: center;
  text-align: center;
  background-color: #c2e297;
  border-radius: 4px;
}
.contacts__title--text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffffff;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.contacts-item {
  margin-bottom: 25px;
  width: 179px;
}

.contacts__location {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
}
.contacts__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
.schedule {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.schedule__box {
  margin-bottom: 10px;
}
.schedule__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
}
.schedule__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
}
.address__mail,
.address__tel {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
// Кнопочки
.contact__buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 54px;
  }
  @media screen and (max-width: 1279px) {
    margin-top: 61px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}

.contact__buttons--text {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 161px;
  height: 44px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  background-color: #d41342;
  color: #ffffff;
  // border: none;
  cursor: pointer;
}
.contact__buttons--text:not(:last-child) {
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
  }
}
.contact__buttons--text:not(:first-child) {
  background-color: #fff;
  color: #d41342;
}

.first__icon {
  display: block;
  fill: rgba(255, 255, 255, 1);
  width: 8px;
  height: 12px;
  margin-left: 2px;
}
.second__icon {
  display: block;
  fill: #d41342;
  width: 8px;
  height: 12px;
  margin-left: 13px;
}
