// Контейнер
.container-bcg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff5f6;
  width: 100%;
  padding-top: 86px;
  padding-bottom: 113px;
  background-image: linear-gradient(to top, rgb(255, 245, 246) 90%, rgb(255, 255, 255) 0%);
  @media screen and (min-width: 767px) {
    padding-top: 119px;
    padding-bottom: 158px;
    background-image: linear-gradient(to top, rgb(255, 245, 246) 78%, rgb(255, 255, 255) 0%);
  }
  @media screen and (min-width: 1280px) {
    padding-top: 132px;
    padding-bottom: 165px;
    background-image: url('../images/contacts/RedDots@2x.png'),
      linear-gradient(to top, rgb(255, 245, 246) 78%, rgb(255, 255, 255) 0%);
  }
}
.container__box {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
// Карточки
.contacts {
  display: block;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 21px;
  @media screen and (min-width: 768px) {
    padding: 50px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 52px 44px 61px 43px;
  }
}
.contacts-box {
  width: 220px;
  @media screen and (min-width: 1280px) {
    width: 330px;
  }
}
.contacts-box:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 767px) {
    margin-right: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 29px;
  }
}
.contacts__title {
  display: inline-block;
  margin-bottom: 25px;
  width: 80px;
  align-items: center;
  text-align: center;
  background-color: #f0d1a5;
  border-radius: 4px;
}
.contacts__title--item {
  display: inline-block;
  margin-bottom: 25px;
  width: 130px;
  align-items: center;
  text-align: center;
  background-color: #c2e297;
  border-radius: 4px;
}
.contacts__title--text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffffff;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.87;
  }
}

.contacts-item {
  margin-bottom: 25px;
}

.contacts__location {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
}
.contacts__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.64;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
.schedule {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.schedule__box {
  margin-bottom: 10px;
}
.schedule__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.04em;
  }
}
.schedule__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.86;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87;
  }
}
.address__mail,
.address__tel {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.85;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.81;
  }
}
// Кнопочки
.contact__buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 54px;
  }
  @media screen and (max-width: 1279px) {
    margin-top: 61px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 86px;
  }
}
.contact__buttons--item {
  transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__buttons--item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 161px;
  height: 44px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  background-color: #d41443;
  border-radius: 22px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 191px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}
.contact__buttons--distance:not(:last-child) {
  @media screen and (max-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }
}
.contact__buttons--second {
  background-color: #fff;
  color: #d41342;
}

.first__icon--arrow {
  display: block;
  fill: rgba(255, 255, 255, 1);
  width: 8px;
  height: 12px;
  margin-left: 2px;
}
.second__icon--arrow {
  display: block;
  fill: #d41342;
  width: 8px;
  height: 12px;
  margin-left: 13px;
}
///////////Ховер
.contact__buttons--second:hover,
.contact__buttons--second:focus {
  background-color: #ecebeb;
}
.contact__buttons--fhf:hover,
.contact__buttons--fhf:focus {
  background-color: #e0076f;
  border-radius: 22px;
}
